<div class="relative max-w-screen-xl mx-auto pt-2 px-4 sm:px-10 lg:px-10" >

<div class="relative max-w-screen-xl mx-auto lg:px-0">
    <nav class="sm:hidden">
      <a href="#" class="flex items-center text-xs leading-5 font-medium text-slate-400 hover:text-gray-200 focus:outline-none focus:underline transition duration-150 ease-in-out">
        <svg class="flex-shrink-0 -ml-1 mr-1 h-5 w-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20">
          <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"/>
        </svg>
        Back
      </a>
    </nav>
    <nav class="hidden sm:flex items-center text-xs leading-5 font-medium py-4">
      <a href="index.html" class="text-gray-400 hover:text-gray-200 focus:outline-none focus:underline transition duration-150 ease-in-out">Home</a>
      <svg class="flex-shrink-0 mx-2 h-5 w-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
      </svg>
      <a href="#" class="text-gray-400 hover:text-gray-200 focus:outline-none focus:underline transition duration-150 ease-in-out">Example 2nd Level link</a>
    </nav>
</div>

</div>
