
<header>
  {% if page.url == "/" %}
  <h1 class=" text-white font-medium text-2xl">O RLY?</h1>
  {% else %}
  <h1 class=" text-white font-medium text-2xl"><a href="/">ElevenTail <small class="text-sm">a site scaffold</small></a></h1>
  {% endif %}
  <nav>
    {%
      set linkList = [
        { "url": "/about" , "text": "About"},
        { "url": "/blog" , "text": "Rollout plan"},
        { "url": "/blog" , "text": "Check postcode"},        
        { "url": "/blog" , "text": "FAQs"},
        { "url": "/blog" , "text": "News"},
        { "url": "/blog" , "text": "Contact"}
      ]
    %}
    {% include "navigation-links.njk" %}
  </nav>
</header>



