---
title: Social Spaces - Project
---



<!-- Doctype etc. -->

{% include "doctype.njk" %}

<!-- Standard Navigation -->

{% include "navigation-links.njk" %}

<!-- New Mega Menu -->

{% include "megamenu.njk" %}


<!-- Breadcrumb -->

{% include "breadcrumb-light.njk" %}




<!-- Start services Introduction -->

{% include "components/two-col-wysiwyg-hero.njk" %}


<!-- Stats-->

{% include "components/stats.njk" %}


<!-- Main content -->

{% include "components/two-col-wysiwyg.njk" %}


{% include "components/two-col-wysiwyg-right.njk" %}

<!-- Testimonial -->

{% include "components/testimonial.njk" %}


{% include "components/two-col-wysiwyg.njk" %}



<!-- Tech used -->

{% include "components/logo-grid-single-row.njk" %}




<!-- Related to this project 3 cards -->
<div class="relative max-w-screen-xl mx-auto pt-2 pb-20 px-4 sm:px-6 lg:pt-2 lg:pb-2 lg:px-8">
<div class="relative mx-auto">

<h4 class="text-base leading-5 font-extrabold tracking-wider text-barton-600 uppercase content-center text-center pt-10">
Related projects
</h4>
<div class="mt-12 grid gap-5 mx-auto md:grid-cols-2 lg:grid-cols-3 lg:max-w-none lg:row-gap-12 pb-32">

<!-- Post cards row of 3 -->

        

{% include "components/project-teaser.njk" %}


</div>
</div>
</div>


<!-- Call to action block -->

{% include "components/call-to-action.njk" %}




{% include "footer.njk" %}