<div class="bg-white">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:py-16 sm:px-6 lg:px-8">
    <div class="max-w-3xl mx-auto">

              <h4 class="text-4xl leading-8 font-bold text-slate-500 sm:text-4xl sm:leading-9">
                 Paid Media (FAQ Example)
              </h4>
      <div class="mt-6 border-t-2 border-gray-200 pt-6">
        <dl>
          <div>
            <dt class="text-lg leading-7">
              <!-- Expand/collapse question button -->
              <button onclick="toggle()" class="text-left w-full flex justify-between items-start text-slate-500 focus:outline-none focus:text-gray-900">
                <span class="font-medium text-gray-900">
                  What does a PPC agency do?
                </span>
                <span class="ml-6 h-7 flex items-center">
                  <!--
                    Expand/collapse icon, toggle classes based on question open state.

                    Open: "-rotate-180", Closed: "rotate-0"
                  -->
                  <svg class="-rotate-180 h-6 w-6 transform" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
                  </svg>
                </span>
              </button>
            </dt>
            <dd id="expand" class="mt-2 pr-12">
              <p class="text-base leading-6 text-slate-400">
                A PPC agency is a team that will create, manage and report back on your pay-per-click campaigns on Google, Bing and Facebook. They probably also handle other types of Paid Search, like programmatic. A PPC agency with experienced managers on its team will help a business achieve growth, even in highly competitive e-commerce sectors. They will set up a well-organised account to help manage and optimise budgets, and analyse results. Ongoing analysis of the data will help the PPC agency refine its strategy and continue to improve results.
              </p>
            </dd>
          </div>
          <div class="mt-6 border-t border-gray-200 pt-6">
            <div>
              <dt class="text-lg leading-7">
                <!-- Expand/collapse question button -->
                <button class="text-left w-full flex justify-between items-start text-gray-400 focus:outline-none focus:text-gray-900">
                  <span class="font-medium text-gray-900">
                    What is a good PPC strategy?
                  </span>
                  <span class="ml-6 h-7 flex items-center">
                    <!--
                      Expand/collapse icon, toggle classes based on question open state.

                      Open: "-rotate-180", Closed: "rotate-0"
                    -->
                    <svg class="rotate-0 h-6 w-6 transform" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
                    </svg>
                  </span>
                </button>
              </dt>
              <dd class="mt-2 pr-12">
                <p class="hidden text-base leading-6 text-slate-400">
                  The objective of a PPC strategy is to make money, so it’s important to set goals and measure them correctly. Every business has its own specific requirements, so there is no hard and fast rule to devising a good PPC strategy. However, a comprehensive PPC strategy might use tactics like long-tail keywords and lookalikes, remarketing and careful channel selection. <br />Your agency should spend time on your PPC account daily to check there’s no waste and everything is performing well – if it’s not, the  PPC strategy can be adjusted accordingly. Primarily you will have a clearly defined KPI and success is constantly measured against this.
                </p>
              </dd>
            </div>
          </div>
          <div class="mt-6 border-t border-gray-200 pt-6">
            <div>
              <dt class="text-lg leading-7">
                <!-- Expand/collapse question button -->
                <button class="text-left w-full flex justify-between items-start text-gray-400 focus:outline-none focus:text-gray-900">
                  <span class="font-medium text-gray-900">
                    How do I create a good PPC strategy?
                  </span>
                  <span class="ml-6 h-7 flex items-center">
                    <!--
                      Expand/collapse icon, toggle classes based on question open state.

                      Open: "-rotate-180", Closed: "rotate-0"
                    -->
                    <svg class="rotate-0 h-6 w-6 transform" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
                    </svg>
                  </span>
                </button>
              </dt>
              <dd class="mt-2 pr-12">
                <p class="hidden text-base leading-6 text-slate-400">
                  To start with, your PPC accounts should be well-organised and budgets allocated appropriately, including a testing budget if possible. Make sure you are targeting the right keywords (not too broad) and your negative list is in good shape. Your PPC account will need constant checking, analysing and refining so there’s no budget wastage. Target your right audience in the right way. And don’t forget your landing pages – to gain the best ROAS (return on ad spend) your quality score needs to be high. The more you learn, the more you can refine your PPC strategy, so don’t neglect your campaigns.
                </p>
              </dd>
            </div>
          </div>
          
          
          
        </dl>
      </div>
    </div>
  </div>
</div>



<script>
  const menu = document.getElementById('expand',);
  const toggle = () => menu.classList.toggle("hidden");
</script>