
<!-- row -->

  <!-- Card -->
        <div class="flex flex-col verflow-hidden">
            <div class="flex-shrink-0">
              <img class="h-48 w-full object-cover" src="https://door4.com/wp-content/uploads/2020/03/john-schaidler-v4BMLM6ym8-unsplash-1024x683.jpg" alt="" />
            </div>
            <div class="flex-1 bg-white p-6 flex flex-col justify-between">
              <div class="flex-1">
                <p class="text-sm leading-5 font-bold text-slate-500">
                  <a href="#" class="hover:underline">
                    Decoding Digital
                  </a>
                </p>
                <a href="/blog/single-post/index.html" class="block">
                  <h3 class="mt-2 text-xl leading-7 font-bold text-slate-600">
                      An example title
                  </h3>
                  <p class="mt-3 text-base leading-6 text-slate-400">
                      Some excerpt content to go here..A short guide illustrating how to allow Door4 (and optionally manage) your Google Analytics profiles.
                  </p>
                </a>
              </div>
              <div class="mt-6 flex items-center">
                <div class="flex-shrink-0">
                  <a href="#">
                    <img class="h-10 w-10 rounded-full" src="../img/staff/LeonCalverley-480x480.jpg" alt="" />
                  </a>
                </div>
                <div class="ml-3">
                  <p class="text-sm leading-5 font-normal text-slate-400">
                    <a href="#" class="hover:underline">
                      Leon Calverley
                    </a>
                  </p>
                  <div class="flex text-sm leading-5 text-slate-300">
                    <time datetime="2020-03-16">
                      April 6, 2020
                    </time>
                    <span class="mx-1">
                      &middot;
                    </span>
                    <span>
                      6 min read
                    </span>
                  </div>
                </div>
              </div>
            </div>
        </div>
  <!-- End Card -->  

  <!-- Card -->
        <div class="flex flex-col verflow-hidden">
            <div class="flex-shrink-0">
              <img class="h-48 w-full object-cover" src="https://door4.com/wp-content/uploads/2020/03/john-schaidler-v4BMLM6ym8-unsplash-1024x683.jpg" alt="" />
            </div>
            <div class="flex-1 bg-white p-6 flex flex-col justify-between">
              <div class="flex-1">
                <p class="text-sm leading-5 font-bold text-slate-500">
                  <a href="#" class="hover:underline">
                    Decoding Digital
                  </a>
                </p>
                <a href="/blog/single-post/index.html" class="block">
                  <h3 class="mt-2 text-xl leading-7 font-bold text-slate-600">
                      An example title
                  </h3>
                  <p class="mt-3 text-base leading-6 text-slate-400">
                      Some excerpt content to go here..A short guide illustrating how to allow Door4 (and optionally manage) your Google Analytics profiles.
                  </p>
                </a>
              </div>
              <div class="mt-6 flex items-center">
                <div class="flex-shrink-0">
                  <a href="#">
                    <img class="h-10 w-10 rounded-full" src="../img/staff/LeonCalverley-480x480.jpg" alt="" />
                  </a>
                </div>
                <div class="ml-3">
                  <p class="text-sm leading-5 font-normal text-slate-400">
                    <a href="#" class="hover:underline">
                      Leon Calverley
                    </a>
                  </p>
                  <div class="flex text-sm leading-5 text-slate-300">
                    <time datetime="2020-03-16">
                      April 6, 2020
                    </time>
                    <span class="mx-1">
                      &middot;
                    </span>
                    <span>
                      6 min read
                    </span>
                  </div>
                </div>
              </div>
            </div>
        </div>
  <!-- End Card --> 

  <!-- Card -->
        <div class="flex flex-col verflow-hidden">
            <div class="flex-shrink-0">
              <img class="h-48 w-full object-cover" src="https://door4.com/wp-content/uploads/2020/03/john-schaidler-v4BMLM6ym8-unsplash-1024x683.jpg" alt="" />
            </div>
            <div class="flex-1 bg-white p-6 flex flex-col justify-between">
              <div class="flex-1">
                <p class="text-sm leading-5 font-bold text-slate-500">
                  <a href="#" class="hover:underline">
                    Decoding Digital
                  </a>
                </p>
                <a href="/blog/single-post/index.html" class="block">
                  <h3 class="mt-2 text-xl leading-7 font-bold text-slate-600">
                      An example title
                  </h3>
                  <p class="mt-3 text-base leading-6 text-slate-400">
                      Some excerpt content to go here..A short guide illustrating how to allow Door4 (and optionally manage) your Google Analytics profiles.
                  </p>
                </a>
              </div>
              <div class="mt-6 flex items-center">
                <div class="flex-shrink-0">
                  <a href="#">
                    <img class="h-10 w-10 rounded-full" src="../img/staff/LeonCalverley-480x480.jpg" alt="" />
                  </a>
                </div>
                <div class="ml-3">
                  <p class="text-sm leading-5 font-normal text-slate-400">
                    <a href="#" class="hover:underline">
                      Leon Calverley
                    </a>
                  </p>
                  <div class="flex text-sm leading-5 text-slate-300">
                    <time datetime="2020-03-16">
                      April 6, 2020
                    </time>
                    <span class="mx-1">
                      &middot;
                    </span>
                    <span>
                      6 min read
                    </span>
                  </div>
                </div>
              </div>
            </div>
        </div>
  <!-- End Card -->   



<!-- row -->

