<!-- Services centered and list block component -- REACH -->

<div class="py-2 lg:py-2 text-center">
        <div class="relative max-w-screen-xl mx-auto px-4 sm:px-6">
      
            <div class="relative mt-12 lg:mt-2 lg:gap-8 p-6 lg:items-center">
                <!-- Introduction para -->
          
              <div class="relative">
              <h4 class="text-base leading-5 font-extrabold tracking-wider text-barton-600 uppercase">
              Reach
              </h4>
              <h4 class="text-2xl leading-8 font-bold text-slate-500 tracking-tight sm:text-3xl sm:leading-9">
                Connect with your ideal customers
              </h4>
              <p class="mt-3 text-lg max-w-3xl leading-7 text-slate-400 font-semibold lg:mx-auto">
                  We place your brand in front of the right people at crucial stages of the purchasing journey, using data-driven marketing strategies.
              </p>
              <p class="mt-3 max-w-3xl leading-7 text-slate-400 lg:mx-auto">
                  Our strategies drive relevant traffic to your website by creating a direct response and action. We utilise key data (macro and micro) to inform our plans so we carry on hitting your targets.
                  Your REACH objectives are measurable, so your decisions can be justified with data like brand awareness, traffic levels, ad interactions, social engagement and impressions.
              </p>
              
            </div>    
            
      
            <div class="mt-10 -mx-4 relative lg:mt-0">
            </div>
          </div>
      
          <div>
              <div class="relative pt-2 pb-20 px-4 sm:px-6 lg:pt-2 lg:pb-2 lg:px-8">

                <div class="relative max-w-7xl mx-auto">

                  <!-- Row one -->

                  <div class="grid gap-5 mx-auto md:grid-cols-3 lg:grid-cols-3 lg:max-w-none">

                  <!-- Sub page cards   -->
              <div class="flex flex-col bg-white overflow-hidden align-middle items-center p-8 hover:shadow-lg">
                      <div class="flex-shrink-0">
                        <div class="bg-barton-500 rounded-full w-24">
                        <img class="h-24 object-scale-down p-4" src="img/services/paid-search.svg" alt="" />
                      </div>
                      </div>
                      <div class="flex-1 p-2 pt-6 flex flex-col justify-between">
                        <div class="flex-1">
                          <p class="text-lg leading-snug text-center font-bold text-barton-500">
                            <a href="#" class="hover:underline">
                              Paid Search
                            </a>
                          </p>
                        </div>
                      </div>
                  </div>

              <div class="flex flex-col bg-white overflow-hidden align-middle items-center p-8 hover:shadow-lg">
                        <div class="flex-shrink-0">
                          <div class="bg-barton-500 rounded-full w-24">
                          <img class="h-24 object-scale-down p-4" src="img/services/paid-social.svg" alt="" />
                        </div>
                        </div>
                        <div class="flex-1 p-2 pt-6 flex flex-col justify-between">
                          <div class="flex-1">
                            <p class="text-lg leading-snug text-center font-bold text-barton-500">
                              <a href="#" class="hover:underline">
                                Paid Social
                              </a>
                            </p>
                          </div>
                        </div>
                  </div>

              <div class="flex flex-col bg-white overflow-hidden align-middle items-center p-8 hover:shadow-lg">
                      <div class="flex-shrink-0">
                        <div class="bg-barton-500 rounded-full w-24">
                        <img class="h-24 object-scale-down p-4" src="img/services/orgainic-search.svg" alt="" />
                      </div>
                      </div>
                      <div class="flex-1 p-2 pt-6 flex flex-col justify-between">
                        <div class="flex-1">
                          <p class="text-lg leading-snug text-center font-bold text-barton-500">
                            <a href="/services/single-service/index.html" class="hover:underline">
                              Organic Search
                            </a>
                          </p>
                        </div>
                      </div>
                </div>
                    
                  

                    
                  </div>
                </div>
                
              </div>

            </div>

      
          
        </div>
</div>