


         <div class="relative pt-2 pb-20 px-4 sm:px-6 lg:pt-2 lg:pb-2 lg:px-8">
            <div class="relative max-w-7xl mx-auto">
              <div class="mt-12 grid gap-5 max-w-lg mx-auto md:grid-cols-3 lg:grid-cols-3 lg:max-w-none">
                <!-- Card -->
                <div class="flex flex-col overflow-hidden">
                  <div class="flex-shrink-0">
                    <img class="h-48 w-full object-cover" src="https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1679&q=80" alt="" />
                  </div>
                  <div class="flex-1 p-6 bg-slate-900 flex flex-col justify-between">
                    <div class="flex-1">
                      <p class="text-2xl leading-5 font-bold text-barton-500 pb-2">
                        <a href="#" class="hover:underline">
                          Reach
                        </a>
                      </p>
                      <a href="#" class="block">
                        <h3 class="mt-2 text-base leading-7 font-normal leading-snug text-gray-400">
                          Connect with your ideal customers
                        </h3>
                      </a>
                    </div>
                  </div>
                </div> 
                <!-- Card -->               
                <!-- Card -->
                <div class="flex flex-col overflow-hidden">
                  <div class="flex-shrink-0">
                    <img class="h-48 w-full object-cover" src="https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1679&q=80" alt="" />
                  </div>
                  <div class="flex-1 p-6 bg-slate-900 flex flex-col justify-between">
                    <div class="flex-1">
                      <p class="text-2xl leading-5 font-bold text-barton-500 pb-2">
                        <a href="#" class="hover:underline">
                          Reach
                        </a>
                      </p>
                      <a href="#" class="block">
                        <h3 class="mt-2 text-base leading-7 font-normal leading-snug text-gray-400">
                          Connect with your ideal customers
                        </h3>
                      </a>
                    </div>
                  </div>
                </div> 
                <!-- Card -->               
                <!-- Card -->
                <div class="flex flex-col overflow-hidden">
                  <div class="flex-shrink-0">
                    <img class="h-48 w-full object-cover" src="https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1679&q=80" alt="" />
                  </div>
                  <div class="flex-1 p-6 bg-slate-900 flex flex-col justify-between">
                    <div class="flex-1">
                      <p class="text-2xl leading-5 font-bold text-barton-500 pb-2">
                        <a href="#" class="hover:underline">
                          Reach
                        </a>
                      </p>
                      <a href="#" class="block">
                        <h3 class="mt-2 text-base leading-7 font-normal leading-snug text-gray-400">
                          Connect with your ideal customers
                        </h3>
                      </a>
                    </div>
                  </div>
                </div> 
                <!-- Card -->               
              </div>
            </div>
          </div>
  