    <div class="py-2 overflow-hidden py-20 bg-white">
        <div class="relative max-w-md mx-auto px-4 sm:px-6 lg:px-8 max-w-screen-xl mx-auto">
      
          <div class="relative mt-12 lg:mt-2 lg:grid lg:grid-cols-2 lg:gap-8 lg:items-center">
            <div class="relative lg:pr-20">
              <h4 class="text-4xl leading-8 font-bold text-slate-500 sm:text-4xl sm:leading-9">
                Client objectives
              </h4>
              <p class="mt-10 text-lg leading-7 text-slate-400">
                  Global garden tool innovator EGO Power+ is part of Chervon, which sells in 65 countries worldwide via a network of dealers. In 2016 we began managing EGO’s EMEA multi-channel paid digital advertising, including display and remarketing. On the back of our performance, and as experienced web developers for e-commerce, we were commissioned to design and build a new platform that had commercial oomph - even though transactions take place on dealer sites.
                  <br />
                  EGO’s objective was to showcase the quality and benefits of its high-end products and compelling ‘green’ credentials. EGO wanted to raise awareness of its brand to EMEA audiences by telling its story more effectively, plus to improve customers’ brand experience and conversions.  
                  </p>
              
            </div>
      
            <div class="mt-10 relative lg:mt-0">
              <img class="relative mx-auto" src="/img/animations/organic-search-ani.gif" alt="" />
            </div>
          </div>
      

      
          
        </div>
    </div>