---
title: Index Home Page
---

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Beacon Tailwind</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tailwindcss/ui@latest/dist/tailwind-ui.min.css">

          </head>
    <body class="font-muli" style="background-color:#f9f9fb;">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.0.1/dist/alpine.js" defer></script>

<!-- Standard Navigation -->



<!-- New Mega Menu hide till figured out-->


<!-- Start Specific Page Content -->

<!-- Start Hero introduction -->

  <div class="bg-scroll mx-auto max-w-full px-4 sm:pb-20 sm:mt-0 sm:px-20 md:mt-0 lg:mt-0 xl:mt-0" style="background-image: url(img/HomeHeroImage.png)">
            
            
            
            {% include "navigation-links-transparent.njk" %}
            
            
            
            <div class="max-w-screen-lg mx-auto pt-20">
        
                
                <div class="text-center">
                  <h2 class="text-4xl tracking-tight leading-10 font-bold text-slate-100 sm:text-5xl sm:leading-none md:text-5xl">
                      Performance-driven success for
                      <br class="xl:hidden" />
                      <span class="font-sans text-homer-500">e-commerce and lead generation brands</span>
                  </h2>           
                  <!-- Button -->            
                  <div class="mt-5 max-w-md mx-auto sm:flex sm:justify-center md:mt-8">
                      <div class="rounded-md shadow">
                      <a href="#" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-grey-500 bg-white hover:bg-homer-500 focus:outline-none focus:shadow-outline-homer transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10">
                          Learn more
                      </a>
                      </div>
                  </div>            
                <div>

                <!--Service Card Intros -->  
                {% include "components/service-card.njk" %}
                
            </div>
        </div></div>
  </div>
<!-- End Hero introduction -->


<!-- Two column block component -->

{% include "components/two-col-wysiwyg.njk" %}

<!-- End Two column block component -->



{% include "components/logo-grid-double-row.njk" %}


{% include "components/logo-grid-single-row.njk" %}


{% include "components/banners.njk" %}


{% include "footer.njk" %}